body {
  overflow: hidden;
  background-color: #262626;
}

h1, h2, h3, h4,p {
  color: white;
}

#photoContainer, #gameLoss {
  background-color: #465269;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
  display: none;
  padding-top: 5vh;
  height: 56vh;
  width: 56vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.viewfinder {
   position: relative;
   left: -50%;
   background-image: url("imgs/background.png");
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   height: 60vh;
   width: 60vw;
   margin-top: 20vh;
   padding: 0;
   overflow: hidden;
}

.outside {
  background-color: #262626;
  /* background-image: radial-gradient(#5c5c5c, #363636, #1f1f1f); */
}

.absolutePos {
  position: absolute;
  left: 50%;
}

.insideDims {
  width: 56vw;
  height: 56vh;
}

.focusBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.captureBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cornerSquare {
  position: relative;
  z-index: 10;
  top: 0px;
  padding: 0;
  margin: 0;
  margin-top: -200px;
  width: 56vw;
  height: 56vh;
  margin: auto;
  /* margin-top: 2vh; */

  background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 50px 50px;
  overflow-x: visible;
}

.button {
  background-color: #e3e3e3;
  border: none;
  color: #262626;
  border: 2px solid #262626;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #262626;
  color: #e3e3e3;
  border: 2px solid #e3e3e3;
}

#bird {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 40%;
}

@media only screen and (max-width: 800px) {
  #bird {
    left: 30%;
  }
}

@media only screen and (max-width: 650px) {
  #bird {
    left: 20%;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 5vw;
  }
  h3, h4 {
    font-size: 4vw;
  }
  .viewfinder {
    margin-top: 15vh;
  }
}

#birdPic {
  width: 150px;
}

#money {
  margin-bottom: -20px;
}
